@use "styles/colors" as *;

.button {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    color: white;
    background-color: $dark-purple;
    cursor: pointer;

    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.1s;

    // required for link
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    outline: solid 2px transparent;

    &:hover {
        background-color: $light-purple;
    }

    &:focus {
        outline-color: $dark-yellow;
    }
}