@use "styles/colors" as *;

.button {
    width: 100%;
    height: 32px;
    border-radius: 8px;
    outline: solid 2px transparent;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    color: var(--text);
    background-color: var(--button);
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
        opacity: 0.6;
    }

    &:focus {
        outline-color: $dark-yellow;
    }
}