.box {
    // background-color: red;
    position: relative;
    width: 120px;
    
}

$rad: 8px;

.selector {
    background-color:#FFCC4D;
    width: 100%;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    border-radius: $rad;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.menu {
    position: absolute;
    min-width: 100%;
    width: max-content;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    cursor: pointer;
    border-radius: $rad;
    box-shadow: 0px 1px 4px 2px #1d0a36cc;
    left: 50%;
        transform: translate(-50%, 0);
}

.menu__item {
    cursor: pointer;
    text-transform: capitalize;
    padding: 8px 16px;
    font-weight: 600;
    border-bottom: solid 2px rgb(227, 221, 231);

    // &:nth-child(2n) {
        // background-color: rgb(224, 224, 224);
    // }

    &:first-child {
        border-radius: $rad $rad 0 0;
    }

    &:last-child {
        border-radius: 0 0 $rad $rad;
    }

    &:hover {
        background-color: #FFCC4D;
    }
    
}