.card {
    // width: 40px;
    padding: 16px;
    border-radius: 40%;
    background-color: rgba(255, 255, 255, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}