@use "styles/colors" as *;

.card {
    padding: 16px;
    border-radius: 40%;
    cursor: pointer;
    background-color: $purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;

    &:hover {        
        transform: scale(1.1);
    }
}