@use "styles/colors" as *;

.card {
    padding: 16px;
    border-radius: 40%;
    cursor: pointer;
    background-color: var(--box);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: solid 2px transparent;

    &:hover {        
        transform: scale(1.1);
    }

    &:focus {
        outline-color: var(--yellow);
    }
}