@use "styles/colors" as *;

.footer {
    background-color: $darkest-purple;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    margin-top: 16px;
    flex-wrap: wrap;

    color: $pink;

    span {
        color: $light-purple;
    }

    p > a {
        transition: all 0.1s;
        color: $yellow;
        outline: none;
        border-bottom: solid 2px transparent;

        &:hover,
        &:focus {
            border-bottom-color: $yellow;
        }
    }
}
