@use "styles/colors" as *;

.header {
    background-color: var(--nav);
    padding: 6px 10%;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: var(--text);

    p {
        text-align: center;
        flex: 1 1 240px;
        padding: 6px;
        font-weight: 600;
        font-size: 0.8em;

        &:not(:last-of-type) {
            border-right: solid 2px var(--bg);
        }
    }

    p > a {
        transition: all 0.1s;
        color: var(--yellow);
        outline: none;
        border-bottom: solid 2px transparent;

        &:hover,
        &:focus {
            border-bottom-color: var(--yellow);
        }
    }
}
