@use "styles/colors" as *;

.header {
    background-color: $darkest-purple;
    padding: 6px 10%;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: $pink;

    span {
        color: $light-purple;
    }

    p {
        text-align: center;
        flex: 1 1 240px;
        background-color: rgba(0,0,0,0.1);
        padding: 6px;
        border-radius: 12px;
    }

    p > a {
        transition: all 0.1s;
        color: $yellow;
        outline: none;
        border-bottom: solid 2px transparent;

        &:hover,
        &:focus {
            border-bottom-color: $yellow;
        }
    }
}
