@use "styles/colors" as *;

.intro {
    text-align: center;
    font-weight: 600;
    margin-top: 24px;

    h1 {
        font-size: 36px;
        color: var(--text);
    }

    a {
        color: $yellow
    }
}