@use "styles/colors" as *;

.input {
    background-color: $purple;
    color: white;
    border: none;
    padding: 8px;
    outline: solid 2px transparent;
    border-radius: 12px;
    text-align: center;
    max-width: 736px;
    width: 100%;
    margin: auto;

    &:focus {
        outline-color: $yellow;
    }

    &::placeholder {
        font-weight: 400;
        font-style: italic;
        color: $pink;
    }
}