.selected {
    position: fixed;
    // top: 0;
    left: 32px;
    bottom: 24px;
    min-height: 120px;
    width: 320px;
    max-width: calc(100vw - 64px);
    background-color: #724985;
    color: white;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0px 1px 4px 2px #1d0a36cc;
    padding: 16px 20px;

    display: grid;
    grid-template-columns: 56px 1fr;
    gap: 24px;
    // opacity: 0.5;

    // &:hover {
    //     opacity: 1;
    // }
}

.close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-color: #2e163b;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border-radius: 50%;

    &:hover {
        background-color: #4c2a5c;
    }
}

.col--preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px;
}

.col--info {
    height: 100%;
    overflow: clip;
    font-size: 14px;

    .info {
        font-weight: 600;
        color: #d8b7ce;
        
        width: 72px;
        display: inline-block;
    }
}

.title {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 24px;
    width: 100%;
    gap: 4px
}

.hexcode {
    font-family: "Jetbrains Mono";
    display: inline-block; // for long hexcodes
}
