@use "styles/colors" as *;

.selected {
    position: fixed;
    // top: 0;
    left: 32px;
    bottom: 24px;
    min-height: 120px;
    width: 320px;
    max-width: calc(100vw - 64px);
    background-color: $light-purple;
    color: white;
    z-index: 1000;
    border-radius: 16px;
    box-shadow: 0px 1px 4px 2px $darkest-purple;
    padding: 16px 20px;

    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 20px;
}

.close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    font-size: 24px;
    background-color: $dark-purple;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    border-radius: 50%;

    &:hover {
        background-color: $light-purple;
    }
}

.col--preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px;
}

.col--info {
    height: 100%;
    overflow: clip;
    font-size: 14px;

    .info {
        font-weight: 600;
        color: $pink;

        width: 72px;
        display: inline-block;
    }
}

.title {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 24px;
    width: 100%;
    gap: 4px;
}

.hexcode {
    font-family: "Jetbrains Mono", "Consolas", monospace;
    display: inline-block; // for long hexcodes
    cursor: pointer;
    position: relative;

    &::after {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        width: max-content;
        height: 20px;
        content: attr(data-tooltip);
        display: block;
        position: absolute;
        background-color: $dark-purple;
        padding: 4px;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        border-radius: 4px;
        font-family: "Poppins";
    }

    &:hover:after {
        opacity: 1;
        visibility: visible;
    }
}

.buttons {
    grid-column: span 2;
    display: flex;
    gap: 8px;
}