$dark-purple: #2e163b;
$dark-yellow: #be6e13;
$yellow: #FFCC4D;
$purple: #3d214b;
$lightest-purple: #724985;
$darkest-purple: #1a0825cc;
$light-purple: #4c2a5c;
$pink: #f0dae9;
$another-purple: #664268;