@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

html, body, #__next {
  background-color: rgb(46, 22, 59);
}

main {
  // background-color: white;
  color: white;
  position: relative;
  padding: 24px 10%;
}

button {
  outline: none;
  border: none;
}